<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('第三方统计表')"></head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle">推广链接<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="推广链接id" v-model="tThirdRecord.thirdId" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">日期<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="日期" v-model="tThirdRecord.days" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle"><font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="" v-model="tThirdRecord.uv" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle"><font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="" v-model="tThirdRecord.pv" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">创建时间<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="创建时间" v-model="tThirdRecord.gmtCreate" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">创建人<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="创建人" v-model="tThirdRecord.createBy" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">修改时间<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="修改时间" v-model="tThirdRecord.gmtModified" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">修改人<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="修改人" v-model="tThirdRecord.updateBy" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">删除标记    0：正常   1：删除<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="删除标记    0：正常   1：删除" v-model="tThirdRecord.delFlag" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
		</table>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/js/app/thirdRecord/add.js}"></script>
</body>
</html>