<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('用户表')"></head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle">推荐人id<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="推荐人id" v-model="tUser.parentId" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">推荐码<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="推荐码" v-model="tUser.code" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">用户token<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="用户token" v-model="tUser.token" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">昵称<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="昵称" v-model="tUser.nickName" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">手机号<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="手机号" v-model="tUser.account" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">用户密码<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="用户密码" v-model="tUser.password" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">用户状态   0：正常  1：禁用<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="用户状态   0：正常  1：禁用" v-model="tUser.status" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">头像地址<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="头像地址" v-model="tUser.picUrl" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">账户金额<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="账户金额" v-model="tUser.amount" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">积分<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="积分" v-model="tUser.integral" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">创建时间<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="创建时间" v-model="tUser.gmtCreate" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">创建人<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="创建人" v-model="tUser.createBy" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">修改时间<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="修改时间" v-model="tUser.gmtModified" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">修改人<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="修改人" v-model="tUser.updateBy" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">最后登录时间<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="最后登录时间" v-model="tUser.lasterDate" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">删除标记  0：开启   1：禁用<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="删除标记  0：开启   1：禁用" v-model="tUser.delFlag" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
		</table>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/js/base/app_user/add.js}"></script>
</body>
</html>