<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('收益分析表')"></head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle">日期<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="日期" v-model="tEarnings.days" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">收入<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="收入" v-model="tEarnings.income" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">渠道结算金额<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="渠道结算金额" v-model="tEarnings.realCost" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">盈利<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="盈利" v-model="tEarnings.profit" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">创建时间<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="创建时间" v-model="tEarnings.gmtCreate" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
		</table>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/js/base/earnings/add.js}"></script>
</body>
</html>