<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('商户表')"></head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
				<td class="formTitle">商户名称<font face="宋体">*</font></td>
				<td class="formValue">
					<input type="text" class="form-control" placeholder="商户名称" v-model="tMerchants.name" isvalid="yes" checkexpession="NotNull">
				</td>

				<td class="formTitle">公司名称<font face="宋体">*</font></td>
				<td class="formValue">
					<input type="text" class="form-control" placeholder="公司名称" v-model="tMerchants.company" isvalid="yes" checkexpession="NotNull">
				</td>
			</tr>

			<tr>
				<td class="formTitle">联系人<font face="宋体">*</font></td>
				<td class="formValue">
					<input type="text" class="form-control" placeholder="联系方式" v-model="tMerchants.contact" isvalid="yes" checkexpession="NotNull">
				</td>

				<td class="formTitle">联系电话<font face="宋体">*</font></td>
				<td class="formValue">
					<input type="text" class="form-control" placeholder="联系电话" v-model="tMerchants.phone" isvalid="yes" checkexpession="NotNull">
				</td>
			</tr>

			<tr>
				<td class="formTitle">结算方式<font face="宋体">*</font></td>
				<td class="formValue" >
					<select v-model="tMerchants.settlementType" class="form-control" >

						<option v-for="option in settlements" v-bind:value="option.value">
							{{ option.text }}
						</option>
					</select>

				</td>

				<td class="formTitle">打款方式<font face="宋体">*</font></td>
				<td class="formValue" >
					<select v-model="tMerchants.payType" class="form-control" >

						<option v-for="option in pays" v-bind:value="option.value">
							{{ option.text }}
						</option>
					</select>

				</td>
			</tr>

			<tr>
				<td class="formTitle">客户需求描述<font face="宋体">*</font></td>
				<td class="formValue">
					<textarea   style="width:100%;height:80px;" v-model="tMerchants.content" isvalid="yes" checkexpession="NotNull"></textarea>
				</td>

				<td class="formTitle">我司对接人员<font face="宋体">*</font></td>
				<td class="formValue">
					<input type="text" class="form-control" placeholder="我司对接人员" v-model="tMerchants.userName" isvalid="yes" checkexpession="NotNull">
				</td>
			</tr>

			<tr>
				<td class="formTitle">状态</td>
				<td class="formValue" colspan="1">
					<label class="radio-inline">
						<input type="radio" name="status" value="0" v-model="tMerchants.status"/> 上线
					</label>
					<label class="radio-inline">
						<input type="radio" name="status" value="1" v-model="tMerchants.status"/> 下线
					</label>
				</td>
			</tr>
		</table>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/js/base/merchants/edit.js}"></script>
</body>
</html>