<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('产品统计')"></head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle">产品id<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="产品id" v-model="tProductLog.productId" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">日期<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="日期" v-model="tProductLog.days" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">pv<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="pv" v-model="tProductLog.pv" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">uv<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="uv" v-model="tProductLog.uv" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">uv收益<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="uv收益" v-model="tProductLog.earnings" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">日收入<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="日收入" v-model="tProductLog.income" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">注册量<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="注册量" v-model="tProductLog.registrations" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">创建时间<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="创建时间" v-model="tProductLog.gmtCreate" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">创建人id<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="创建人id" v-model="tProductLog.createBy" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">修改人id<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="修改人id" v-model="tProductLog.gmtModified" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">修改人id<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="修改人id" v-model="tProductLog.updateBy" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">删除标记   0：正常  1：删除<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="删除标记   0：正常  1：删除" v-model="tProductLog.delFlag" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
		</table>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/js/base/productLog/add.js}"></script>
</body>
</html>