<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('产品统计')"></head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle">产品名称<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="产品" v-model="tProductLog.productName" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">日期<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="日期" v-model="tProductLog.days" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">pv<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="pv" v-model="tProductLog.pv" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">uv<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="uv" v-model="tProductLog.uv" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">注册量<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="注册量" v-model="tProductLog.registrations" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
		</table>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/js/base/productLog/edit.js}"></script>
</body>
</html>